body {
    font-family: Verdana;
    font-size: 14px;
}
.top {
    background: #666;
    padding: 10px;
}

.container {
    overflow: hidden;
}


.button {
    padding: 6px 12px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    background: #d35800; /* Old browsers */
    background: -moz-linear-gradient(top,  #d35800 0%, #e5aa70 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #d35800 0%,#e5aa70 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #d35800 0%,#e5aa70 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d35800', endColorstr='#e5aa70',GradientType=0 ); /* IE6-9 */
}
.button:hover {
    background: #ff0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff0000 0%, #ea7272 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ff0000 0%,#ea7272 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ff0000 0%,#ea7272 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ea7272',GradientType=0 ); /* IE6-9 */
}
.button:active {
    background: #e5aa70; /* Old browsers */
    background: -moz-linear-gradient(top,  #e5aa70 0%, #d35800 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e5aa70 0%,#d35800 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e5aa70 0%,#d35800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5aa70', endColorstr='#d35800',GradientType=0 ); /* IE6-9 */
}

.left {
    width: 30%;
    background: #e6e6e6;
    padding: 20px;
    border-right: #d1d1d1;
    float: left;
}

.left-content {
    width: 65%;
    float: right;
    background: #e6e6e6;
    padding: 5px 30px;
}