<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <title>Facelet Title</title>
</h:head>
<h:body>
    <h:form>
        <h:panelGrid columns="2">
            <h:outputLabel value="Podaj nazwe produktu" for="name"/>
            <h:inputText
                    id="name"
                    title="Podaj nazwe:"
                    value="#{ManagedProduct.name}"
                    required="true"
                    requiredMessage="Blad: Podaj nazwe.">
            </h:inputText>
            <h:outputLabel value="Podaj cene netto produktu" for="price"/>
            <h:inputText
                    id="price"
                    title="Podaj cene:"
                    value="#{ManagedProduct.price}"
                    required="true"
                    requiredMessage="Blad: Podaj cene.">
            </h:inputText>
            <h:outputLabel value="Podaj promocje produktu" for="promotion"/>
            <h:inputText
                    id="promotion"
                    title="Podaj promocje:"
                    value="#{ManagedProduct.promotion}"
                    required="true"
                    requiredMessage="Blad: Podaj promocje.">
            </h:inputText>
        </h:panelGrid>

        <h:commandLink action="#{ManagedProduct.addProduct}"
                       value="OK"/>
    </h:form>
</h:body>
</html>