<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Facelet Title</title>
</h:head>
<h:body>
    <h:form>
        <h:panelGrid columns="2">
            <h:outputLabel value="Nazwa produktu" for="name" />
            <h:outputText id="name" value="#{ManagedProduct.name}"/>
            <h:outputLabel value="Cena produktu" for="price" />
            <h:outputText id="price" value="#{ManagedProduct.price}"/>
            <h:outputLabel value="Promocja produktu" for="promotion" />
            <h:outputText id="promotion" value="#{ManagedProduct.promotion}"/>
            <h:outputLabel value="Cena brutto produktu" for="priceGross" />
            <h:outputText id="priceGross" value="#{ManagedProduct.getPriceGross()}" />
        </h:panelGrid>
        <h:commandButton id="powrot" value="Powrot" action="/faces/index"/>
    </h:form>
</h:body>
</html>