<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>Facelet Title</title>
    <meta name="charset" content="utf-8" />
</h:head>
<h:body>
    <ui:composition template="template.xhtml">
        <ui:define name="title">
            <h:outputText
                    value="#{bundle['shop.addProduct.title']}">
            </h:outputText>
        </ui:define>

        <ui:define name="content">

            <h:form styleClass="add-product-forum">
                <h:panelGrid columns="2">
                    <h:outputLabel value="Podaj nazwe produktu" for="name"/>
                    <h:inputText
                            id="name"
                            title="Podaj nazwę:"
                            styleClass="product-name"
                            value="#{ManagedProduct.name}"
                            required="true"
                            requiredMessage="Błąd: Podaj nazwę.">
                            <f:valueChangeListener type="listeners.DataChange" binding="#{ManagedProduct.nameChange}"/>
                    </h:inputText>
                    <h:outputLabel value="Podaj cenę netto produktu" for="price"/>
                    <h:inputText
                            id="price"
                            title="Podaj cenę:"
                            styleClass="product-price"
                            value="#{ManagedProduct.price}"
                            required="true"
                            validator="#{ManagedProduct.priceValidator}"
                            requiredMessage="Błąd: Podaj cenę.">
                            <f:valueChangeListener type="listeners.DataChange" binding="#{ManagedProduct.priceChange}"/>
                    </h:inputText>
                    <h:outputLabel value="Podaj promocję produktu" for="promotion"/>
                    <h:inputText
                            id="promotion"
                            title="Podaj promocj®:"
                            styleClass="product-promotion"
                            value="#{ManagedProduct.promotion}"
                            required="true"
                            validator="#{ManagedProduct.promotionValidator}"
                            requiredMessage="Błąd: Podaj promocję.">

                            <f:converter converterId="javax.faces.Integer" />
                    </h:inputText>

                    <h:outputLabel value="Podaj producenta" for="manufacturer"/>
                    <h:inputText
                            id="manufacturer"
                            title="Podaj producenta:"
                            styleClass="product-manufacturer"
                            value="#{ManagedProduct.manufacturer}"
                            required="false" />

                    <h:outputLabel value="Podaj datę produkcji w formacie dd-MM-yyyy" for="created" />
                    <h:inputText
                            id="created"
                            title="Podaj datę"
                            value="#{ManagedProduct.created}"
                            required="true"
                            requiredMessage="Podaj datę produkcji">
                        <f:convertDateTime pattern="dd-MM-yyyy" />
                    </h:inputText>

                </h:panelGrid>

                <h:messages></h:messages>

                <h:commandLink
                        styleClass="button add-product-btn"
                        action="result1"
                        value="OK">
                            <f:actionListener binding="#{ManagedProduct}"/>
                </h:commandLink>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>