<?xml version='1.0' encoding='UTF-8' ?><!DOCTYPE html PUBLIC "-
//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
    <title>Title</title>
</head>
<body>
    <ui:composition template="template.xhtml">
        <ui:define name="title">
            Sklep - lista produktów
        </ui:define>
        <ui:define name="content">

            <h:outputText escape="false" value="Brak produktów" rendered="#{ManagedProduct.items.rowCount == 0} "/>

            <h:panelGroup rendered="#{ManagedProduct.items.rowCount > 0}">
                <h:dataTable value="#{ManagedProduct.items}"
                     var="item"
                     border="0"
                     cellpadding="2"
                     cellspacing="0"
                     rowClasses="jsfcrud_odd_row, jsfcrud_even_row"
                     rules="all"
                     style="border:solid 1px">

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Nazwa produktu"/>
                        </f:facet>
                        <h:outputText value="#{item.get(0)}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Cena"/>
                        </f:facet>
                        <h:outputText value="#{item.get(1)}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Cena brutto"/>
                        </f:facet>
                        <h:outputText value="#{item.get(2)}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Promocja"/>
                        </f:facet>
                        <h:outputText value="#{item.get(3)}">
                            <f:convertNumber currencySymbol="%" type="currency"/>
                        </h:outputText>

                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Producent"/>
                        </f:facet>
                        <h:outputText value="#{item.get(4)}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Data produkcji"/>
                        </f:facet>
                        <h:outputText value="#{item.get(5)}"/>
                    </h:column>
                </h:dataTable>
            </h:panelGroup>
            <h:commandButton
                styleClass="back"
                value="Powrót"
                action="index"/>
        </ui:define>
    </ui:composition>
</body>
</html>