<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>Facelet Title</title>
</h:head>
<h:body>
    <ui:composition template="template.xhtml">
        <ui:define name="title">
            Sklep - wynik dodawania
        </ui:define>

        <ui:define name="content">
            <h:outputText escape="false" value= "Taki produkt juz istnieje"
                          rendered="#{ManagedProduct.state == 0}"/>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Nazwa produktu" for="name" />
                    <h:outputText id="name" value="#{ManagedProduct.name}"/>
                    <h:outputLabel value="Cena produktu" for="price" />
                    <h:outputText id="price" value="#{ManagedProduct.price}">
                        <f:convertNumber binding="#{ManagedProduct.numberConvert}"
                                         pattern="####.### PLN -"/>
                    </h:outputText>
                    <h:outputLabel value="Promocja produktu" for="promotion" />
                    <h:outputText id="promotion" value="#{ManagedProduct.promotion}">
                        <f:convertNumber type="percent" />
                    </h:outputText>
                    <h:outputLabel value="Cena brutto produktu" for="priceGross" />
                    <h:outputText id="priceGross" value="#{ManagedProduct.priceGross}" />
                    <h:outputLabel value="Data produkcji" for="created"/>
                    <h:outputText id="created" value="#{ManagedProduct.created}">
                        <f:convertDateTime dateStyle="full"
                                           timeStyle="long" type="both"/>
                    </h:outputText>
                </h:panelGrid>
                <h:commandButton id="powrot" value="Powrot" action="index"/>
            </h:form>
            <h:messages></h:messages>
        </ui:define>
    </ui:composition>

</h:body>
</html>