<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>
        <ui:insert name="title">Page Title</ui:insert>
    </title>
</h:head>

<h:body>
    <div id="top" class="top">
        <ui:insert name="top">Top</ui:insert>
    </div>
    <div class="container">
        <div id="left" class="left">
            <ui:insert name="left">
                <h:link styleClass="button"
                        outcome="addProduct"
                        value="Dodaj produkt" />
                <h:link outcome="productsLists"
                        value="Lista produktow" />

            </ui:insert>
        </div>
        <div id="content" class="left-content">
            <ui:insert name="content">Content</ui:insert>
        </div>
    </div>
    <div id="bottom" class="bottom">
        <ui:insert name="bottom">Bottom</ui:insert>
    </div>

</h:body>

</html>
